@font-face {
    font-family: 'PoppinsVN 700i';
    src: url('PoppinsVN-700i.eot');
    src: url('PoppinsVN-700i.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-700i.woff2') format('woff2'),
        url('PoppinsVN-700i.woff') format('woff'),
        url('PoppinsVN-700i.ttf') format('truetype'),
        url('PoppinsVN-700i.svg#PoppinsVN-700i') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PoppinsVN 500';
    src: url('PoppinsVN-500.eot');
    src: url('PoppinsVN-500.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-500.woff2') format('woff2'),
        url('PoppinsVN-500.woff') format('woff'),
        url('PoppinsVN-500.ttf') format('truetype'),
        url('PoppinsVN-500.svg#PoppinsVN-500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsVN 700';
    src: url('PoppinsVN-700.eot');
    src: url('PoppinsVN-700.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-700.woff2') format('woff2'),
        url('PoppinsVN-700.woff') format('woff'),
        url('PoppinsVN-700.ttf') format('truetype'),
        url('PoppinsVN-700.svg#PoppinsVN-700') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-MediumItalic.eot');
    src: url('Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-MediumItalic.woff2') format('woff2'),
        url('Poppins-MediumItalic.woff') format('woff'),
        url('Poppins-MediumItalic.ttf') format('truetype'),
        url('Poppins-MediumItalic.svg#Poppins-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Black.eot');
    src: url('Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Black.woff2') format('woff2'),
        url('Poppins-Black.woff') format('woff'),
        url('Poppins-Black.ttf') format('truetype'),
        url('Poppins-Black.svg#Poppins-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsVN 800';
    src: url('PoppinsVN-800.eot');
    src: url('PoppinsVN-800.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-800.woff2') format('woff2'),
        url('PoppinsVN-800.woff') format('woff'),
        url('PoppinsVN-800.ttf') format('truetype'),
        url('PoppinsVN-800.svg#PoppinsVN-800') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-SemiBoldItalic.eot');
    src: url('Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('Poppins-SemiBoldItalic.woff') format('woff'),
        url('Poppins-SemiBoldItalic.ttf') format('truetype'),
        url('Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ThinItalic.eot');
    src: url('Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-ThinItalic.woff2') format('woff2'),
        url('Poppins-ThinItalic.woff') format('woff'),
        url('Poppins-ThinItalic.ttf') format('truetype'),
        url('Poppins-ThinItalic.svg#Poppins-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PoppinsVN 300i';
    src: url('PoppinsVN-300i.eot');
    src: url('PoppinsVN-300i.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-300i.woff2') format('woff2'),
        url('PoppinsVN-300i.woff') format('woff'),
        url('PoppinsVN-300i.ttf') format('truetype'),
        url('PoppinsVN-300i.svg#PoppinsVN-300i') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Bold.eot');
    src: url('Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Bold.woff2') format('woff2'),
        url('Poppins-Bold.woff') format('woff'),
        url('Poppins-Bold.ttf') format('truetype'),
        url('Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsVN 600i';
    src: url('PoppinsVN-600i.eot');
    src: url('PoppinsVN-600i.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-600i.woff2') format('woff2'),
        url('PoppinsVN-600i.woff') format('woff'),
        url('PoppinsVN-600i.ttf') format('truetype'),
        url('PoppinsVN-600i.svg#PoppinsVN-600i') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraLight.eot');
    src: url('Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Poppins-ExtraLight.woff2') format('woff2'),
        url('Poppins-ExtraLight.woff') format('woff'),
        url('Poppins-ExtraLight.ttf') format('truetype'),
        url('Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraLightItalic.eot');
    src: url('Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('Poppins-ExtraLightItalic.woff') format('woff'),
        url('Poppins-ExtraLightItalic.ttf') format('truetype'),
        url('Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Thin.eot');
    src: url('Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Thin.woff2') format('woff2'),
        url('Poppins-Thin.woff') format('woff'),
        url('Poppins-Thin.ttf') format('truetype'),
        url('Poppins-Thin.svg#Poppins-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-LightItalic.eot');
    src: url('Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-LightItalic.woff2') format('woff2'),
        url('Poppins-LightItalic.woff') format('woff'),
        url('Poppins-LightItalic.ttf') format('truetype'),
        url('Poppins-LightItalic.svg#Poppins-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.eot');
    src: url('Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Regular.woff2') format('woff2'),
        url('Poppins-Regular.woff') format('woff'),
        url('Poppins-Regular.ttf') format('truetype'),
        url('Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-BoldItalic.eot');
    src: url('Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-BoldItalic.woff2') format('woff2'),
        url('Poppins-BoldItalic.woff') format('woff'),
        url('Poppins-BoldItalic.ttf') format('truetype'),
        url('Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Italic.eot');
    src: url('Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Italic.woff2') format('woff2'),
        url('Poppins-Italic.woff') format('woff'),
        url('Poppins-Italic.ttf') format('truetype'),
        url('Poppins-Italic.svg#Poppins-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraBold.eot');
    src: url('Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Poppins-ExtraBold.woff2') format('woff2'),
        url('Poppins-ExtraBold.woff') format('woff'),
        url('Poppins-ExtraBold.ttf') format('truetype'),
        url('Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsVN 400i';
    src: url('PoppinsVN-400i.eot');
    src: url('PoppinsVN-400i.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-400i.woff2') format('woff2'),
        url('PoppinsVN-400i.woff') format('woff'),
        url('PoppinsVN-400i.ttf') format('truetype'),
        url('PoppinsVN-400i.svg#PoppinsVN-400i') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PoppinsVN 500i';
    src: url('PoppinsVN-500i.eot');
    src: url('PoppinsVN-500i.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-500i.woff2') format('woff2'),
        url('PoppinsVN-500i.woff') format('woff'),
        url('PoppinsVN-500i.ttf') format('truetype'),
        url('PoppinsVN-500i.svg#PoppinsVN-500i') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PoppinsVN 900i';
    src: url('PoppinsVN-900i.eot');
    src: url('PoppinsVN-900i.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-900i.woff2') format('woff2'),
        url('PoppinsVN-900i.woff') format('woff'),
        url('PoppinsVN-900i.ttf') format('truetype'),
        url('PoppinsVN-900i.svg#PoppinsVN-900i') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PoppinsVN 100';
    src: url('PoppinsVN-100.eot');
    src: url('PoppinsVN-100.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-100.woff2') format('woff2'),
        url('PoppinsVN-100.woff') format('woff'),
        url('PoppinsVN-100.ttf') format('truetype'),
        url('PoppinsVN-100.svg#PoppinsVN-100') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-SemiBold.eot');
    src: url('Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Poppins-SemiBold.woff2') format('woff2'),
        url('Poppins-SemiBold.woff') format('woff'),
        url('Poppins-SemiBold.ttf') format('truetype'),
        url('Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.eot');
    src: url('Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Medium.woff2') format('woff2'),
        url('Poppins-Medium.woff') format('woff'),
        url('Poppins-Medium.ttf') format('truetype'),
        url('Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Light.eot');
    src: url('Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('Poppins-Light.woff2') format('woff2'),
        url('Poppins-Light.woff') format('woff'),
        url('Poppins-Light.ttf') format('truetype'),
        url('Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsVN 400';
    src: url('PoppinsVN-400.eot');
    src: url('PoppinsVN-400.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-400.woff2') format('woff2'),
        url('PoppinsVN-400.woff') format('woff'),
        url('PoppinsVN-400.ttf') format('truetype'),
        url('PoppinsVN-400.svg#PoppinsVN-400') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsVN 200';
    src: url('PoppinsVN-200.eot');
    src: url('PoppinsVN-200.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-200.woff2') format('woff2'),
        url('PoppinsVN-200.woff') format('woff'),
        url('PoppinsVN-200.ttf') format('truetype'),
        url('PoppinsVN-200.svg#PoppinsVN-200') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsVN 800i';
    src: url('PoppinsVN-800i.eot');
    src: url('PoppinsVN-800i.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-800i.woff2') format('woff2'),
        url('PoppinsVN-800i.woff') format('woff'),
        url('PoppinsVN-800i.ttf') format('truetype'),
        url('PoppinsVN-800i.svg#PoppinsVN-800i') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PoppinsVN 300';
    src: url('PoppinsVN-300.eot');
    src: url('PoppinsVN-300.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-300.woff2') format('woff2'),
        url('PoppinsVN-300.woff') format('woff'),
        url('PoppinsVN-300.ttf') format('truetype'),
        url('PoppinsVN-300.svg#PoppinsVN-300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-BlackItalic.eot');
    src: url('Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-BlackItalic.woff2') format('woff2'),
        url('Poppins-BlackItalic.woff') format('woff'),
        url('Poppins-BlackItalic.ttf') format('truetype'),
        url('Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PoppinsVN 900';
    src: url('PoppinsVN-900.eot');
    src: url('PoppinsVN-900.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-900.woff2') format('woff2'),
        url('PoppinsVN-900.woff') format('woff'),
        url('PoppinsVN-900.ttf') format('truetype'),
        url('PoppinsVN-900.svg#PoppinsVN-900') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PoppinsVN 100i';
    src: url('PoppinsVN-100i.eot');
    src: url('PoppinsVN-100i.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-100i.woff2') format('woff2'),
        url('PoppinsVN-100i.woff') format('woff'),
        url('PoppinsVN-100i.ttf') format('truetype'),
        url('PoppinsVN-100i.svg#PoppinsVN-100i') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-ExtraBoldItalic.eot');
    src: url('Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('Poppins-ExtraBoldItalic.woff') format('woff'),
        url('Poppins-ExtraBoldItalic.ttf') format('truetype'),
        url('Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'PoppinsVN 600';
    src: url('PoppinsVN-600.eot');
    src: url('PoppinsVN-600.eot?#iefix') format('embedded-opentype'),
        url('PoppinsVN-600.woff2') format('woff2'),
        url('PoppinsVN-600.woff') format('woff'),
        url('PoppinsVN-600.ttf') format('truetype'),
        url('PoppinsVN-600.svg#PoppinsVN-600') format('svg');
    font-weight: normal;
    font-style: normal;
}

