body {
	font-family: 'Poppins', sans-serif;
	font-size:14px;
	color:#434343;
	background:#fafafa;
	border-top:5px solid #0465b3;
}
.container {

}
#header .container {
	position:relative;
	padding:15px 0;
	max-width:1171px;
	margin:0 auto;
	/*padding: unset;*/
}

.menu-main .container{
	padding: unset;
	max-width:1171px;
	margin:0 auto;
}
.header-right {
	float:right;
	padding:12px 155px 0 0;
}
#searchForm {
	position:relative;
}
#searchForm input {
	width:270px;
	height:40px;
	padding:0 20px;
	border:1px solid #e1e1e1;
	border-radius:20px;
	font-size:14px;
	color:#b5b5b5;
	background:#fafafa;
}
#searchForm .btn {
	position:absolute;
	top:0;
	right:0;
	width:50px;
	height:40px;
	border:none;
	background-color:rgba(0,0,0,0);
	background-image:url('images/icon-search.png');
	background-repeat:no-repeat;
	background-position:center center;
}
.header-right .banner-image {
	position:absolute;
	bottom:0;
	right:0;
	width:145px;
	top:0;
	background-size:cover;
}
#menu-main ul{
	background:#ffca08;
	letter-spacing:-0.3em;
	text-align:center;
	border-radius:5px 5px 0 0;
}
#menu-main ul li {
	display:inline-block;
	vertical-align:top;
	letter-spacing:normal;
	padding:10px 0;
}
#menu-main ul li a {
	display:block;
	font-size:15px;
	color:#000;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:600;
}
#menu-main ul li a:hover,#menu-main ul li a.active {
	color:#0465b3;
}
#menu-main ul li a.active {
	font-weight:700;
}
#slider-main {
	border-radius:0 0 5px 5px;
	overflow:hidden;
	margin:0 0 18px;
}
#slider-main .bx-wrapper .bx-pager {
	bottom:15px;
}
#slider-main  .bx-wrapper .bx-pager.bx-default-pager a {
	background:#ffc80a;
}
#slider-main  .bx-wrapper .bx-pager.bx-default-pager a:hover,#slider-main   .bx-wrapper .bx-pager.bx-default-pager a.active {
	background:#185dca;
}
.box-white {
	background:#fff;
	margin:0 0 20px;
	padding:15px;
	border-radius:10px;
	box-shadow:0 0 40px #e4e4e4;
}
.cate-title {
	font-size:19px;
	font-weight:600;
	color:#0465b3;
	text-transform:uppercase;
	margin:0 0 15px;
}
.cate-title img {
	vertical-align: -4px;
    margin-right: 6px;
}
.box-left {
	width:75%;
	float:left;
	padding-right:20px;
}
.box-right {
	width:25%;
	float:right;
}
.box-left .article-feature {
	width:71%;
	padding-right:20px;
}
.box-left .article-feature .info h3 {
	margin: 10px 0 11px;
}
.box-left .article-feature .info h3 a {
	font-size:14px;
	color:#434343;
	font-weight:700;
}
.box-left .article-list {
	width:29%;
}
.box-left .article-list ul li {
	list-style:none;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #e1e1e1;
}
.box-left .article-list ul li:last-child {
	border:none;
}
.box-left .article-list ul li  a {
	color:#434343;
}
.cate-title.cate-other {
	color: #e40404;
	margin: 0 0 25px;
}
.admissions-list li {
	list-style:none;
	margin:0 0 7px;
}
.admissions-list li a {
	display:block;
	padding:25px 25px 25px 75px;
	border-radius:10px;
	text-transform:uppercase;
	color:#fff;
	font-weight:bold;
	background-color:#34a7fc;
	background-repeat:no-repeat;
	background-position:25px center;
}
.admissions-list li:nth-child(2) a {
	background-color:#ff3962;
}
.admissions-list li:nth-child(3) a {
	background-color:#fe9317;
}
.admissions-list li:nth-child(4) a {
	background-color:#2e3192;
}
.admissions-list li:nth-child(5) a {
	background-color:#1657bd;
}
.admissions-list li:nth-child(6) a {
	background-color:#39b54a;
}
.box-newssupport .item-inline {
	width:20%;
	padding:0 7.5px;
}
.box-newssupport .item-inline img {
	width:100%;
	display:block;
}
.box-newssupport .item-inline h3 {
	margin:5px 0 0;
}
.box-newssupport .item-inline a {
	color:#434343;
	font-weight:700;
}
.box-register {
	background-image:url('images/registerbg.png');
	background-size:cover;
	border-radius:10px;
	text-align:center;
	padding:60px 0 30px;
	color:#fff;
	font-weight:700;
	position:relative;
	margin:0 0 20px;
}
.box-register .logo {
	position:absolute;
	top:-10px;
	left:50%;
	width:50px;
	margin-left:-25px;
}
.box-register p {
	font-size:24px;
}
.box-register p span {
	display:block;
	font-size:36px;
	line-height: 50px;
}
.box-register .btn {
	font-size:20px;
	color:#fff;
	border-radius:10px;
	background:#185dca;
	padding:12px;
	width:270px;
	display:block;
	margin:10px auto 0;
}
.box-register .human {
	position:absolute;
	right:33px;
	bottom:0;
}
.news-list-sidebar {
	list-style: none;
}
.news-list-sidebar li {
	line-height: 20px;
	padding-bottom: 11px;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 12px;
}
.news-list-sidebar li:first-child, .news-list-sidebar li:last-child {
	padding-bottom: 13px;
}
.news-list-sidebar li a {
	color: #434343;
	font-weight: 700;
}
.news-list-sidebar li a img {
	vertical-align: -4px;
}
.title-media {
	text-align: center;
	font-size: 25px;
	margin-bottom: 38px;
	position: relative;
}
.title-media::after {
	content: "";
	position: absolute;
	bottom: 16px;
	width: 32%;
	background-color: #e1e1e1;
	height: 3px;
	right: 0;
}
.title-media::before {
	content: "";
	position: absolute;
	bottom: 16px;
	width: 32%;
	background-color: #e1e1e1;
	height: 3px;
	left: 0;
}
.box-media .item-inline {
	width:24%;
	margin-right:1.33%;
}
.box-media .item-inline:last-child {
	margin-right:0;
}
.box-media .info-media span img {
	padding-right: 4px;
	vertical-align: -3px;
}
.box-media .info-media span {
	margin-right:22px;
}
.box-media .info-media {
	padding: 5px 0 7px;
	position:relative;
}
.box-media .info-media .it-date {
	position: absolute;
	right: 0;
	top: 4px;
	margin-right:0;
}
.box-media h3 {
	line-height: 18px;
	margin-bottom: 12px;
}
.box-media h3 a {
	color: #434343;
}
.box-media .time-place {
	position: relative;
}
.box-media .it-time {
	position: absolute;
	0: ;
	left: 0;
	top: 0;
	text-align: center;
}
.box-media .it-time span {
	color: #fff;
	font-weight: 700;
	background-color: #0465b3;
	padding: 0px 29px;
}
.box-media .it-place {
	padding-left: 108px;
	line-height: 17px;
	padding-bottom: 17px;
}
.box-media .it-time p {
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	border: 1px solid #ffc80a;
	border-top: none;
	margin-top:-2px;
}
.box-partner {
	margin-bottom: 67px;
	padding: 21px 15px 28px;
}
.box-partner .title-media {
	margin-bottom: 24px;
}
.box-partner .title-media:after,.box-partner .title-media:before {
	display:none;
}
.box-partner li {
	text-align: center;
	padding: 0 17px;
}
.box-partner .item-inline a {
	border: 2px solid #ebebeb;
	border-radius: 5px;
	text-align: center;
	height: 46px;
	line-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.box-partner .slick-next {
	right: -10px;
}
.box-partner .slick-prev {
	left: -10px;
}
.box-partner .slick-prev::before, .box-partner .slick-next::before {
	opacity: 1;
	color: #000;
}
.box-partner li:last-child {
	margin-right: 0;
}
.box-partner .item-inline img {
	vertical-align: middle;
}
#footer {
	position:relative;
}
#footer .logo {
	position: absolute;
	top: -44px;
	left: 50%;
	width: 85px;
	margin-left: -42px;
	z-index: 1;
}
.top-footer {
	background-color: #002b6e !important;
	color: #fff !important;
	position: relative !important
	padding: 65px 0 32px !important;
	border-bottom:1px solid#1a3c72 !important;
}
.top-footer .info-contact {
	width: 35%;
	margin-right: 80px;
}
.info-contact .list-contact {
	list-style: none;
}
.top-footer .menu-footer {
	width: 37%;
	list-style: none;
	column-count: 2;
	-ms-column-count: 2;
	-webkit-column-count: 2;
	column-gap: 0;
}
.top-footer h3 {
	text-transform: uppercase;
	color: #ffc80a;
	font-weight: 600;
	margin-bottom: 14px;
}
.top-footer .list-contact img {
	padding-right: 10px;
	vertical-align: -2px;
}
.top-footer .list-contact li {
	margin-bottom: 14px;
}
.menu-footer a {
	color: #fff;
	font-weight: 500;
}
.menu-footer li {
	margin-bottom: 14px;
}
.top-footer .human {
	position: absolute;
	bottom: 0;
	right: 0;
}
.footer-bottom {
	color: #fff;
	background-color: #002662;
	padding: 12px 0 15px;
}
.list-social-network a {
	color: #a8acb9;
	border: 1px solid #434446;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	display: inline-block;
	line-height: 32px;
	text-align: center;
	font-size: 18px;
	margin-right: 8px;
}
.list-social-network a:nth-child(3) {
	font-size: 16px;
}
.list-social-network a:nth-child(4) {
	font-size: 20px;
	margin-right:0;
}
.list-social-network a:hover {
	color: #000;
	background-color:#ffc80a;
}
/*.footer-bottom .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}*/
.copy-right {
	font-weight: 200;
}
.mb {
	display:none;
}

#menu_child li{
	padding: 0 !important;
}