html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
* {
	box-sizing:border-box;
}
a {
	text-decoration:none;
}
/*img{
	border:none;
	max-width:100%;	
	height: auto;
}*/
a:focus{
	text-decoration: none;
	color: inherit;
	outline: none;
}
main {
	display:block;
}
.mcs-content-text ul,.mcs-content-text ol {
	margin-left:15px;
}
.clear {
	clear:both;
}	
button,input[type="submit"] {
	cursor:pointer;
}
a, 
button, 
input {
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
}
button,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=search]:focus,
textarea:focus {
	border-color: #c9a96e;
	outline: none;
}
table {
	margin:15px 0;
	width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}
table tbody tr td, 
table tbody tr th, 
table tfoot tr td, 
table tfoot tr th, 
table thead tr td, 
table thead tr th {
	border: 1px solid #ccc;
	padding:5px;
}
p.done {
	background:#c0eed3;
	padding:5px 15px;
	margin-bottom:15px;
}
p.error {
	background: #f0d9d9;
    color: #ff0000;
    display: block;
    margin-bottom: 15px;
    padding:5px 15px;
}
/* Reset chat facebook */
.fb_iframe_widget {
	display:block !important;
}
.fb_iframe_widget span {
	display: block !important;
	width:100% !important;
}
.fb_iframe_widget iframe {
    position: static !important;
    width: 100% !important;
}
.wpcf7-not-valid-tip {
	display:none !Important;
}
.list-inline {
	letter-spacing:-0.3em;
}
.item-inline {
	letter-spacing:normal;
	display:inline-block;
	vertical-align:top;
}
.animated-delay2 {
	-webkit-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.animated-delay3 {
	-webkit-animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.animated-delay4 {
	-webkit-animation-delay: 0.9s;
	-o-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
.animated-delay5 {
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	-moz-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
.animated-delay6 {
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
}