@media screen and (max-width:1200px) {
	#header .container {
		padding:15px;
	}
	.container {
		padding: 0 15px;
	}
	#menu-main ul li {
		padding: 20px 8px;
	}
	#menu-main ul li a {
		font-size: 14px;
	}
	.header-right .banner-image {
		right: 15px;
	}
	.admissions-list li a {
		padding: 25px 25px 25px 58px;
		background-position: 10px center;
	}
	.box-register p {
		font-size: 20px;
	}
	.box-register p span {
		font-size: 30px;
	}
	.box-register .btn {
		font-size: 18px;
	}
	.box-newssupport {
		margin-bottom: 26px;
	}
	.cate-title {
		font-size: 16px;
	}
	.news-list-sidebar li a {
		font-size: 13px;
	}
	.box-media .it-place {
		font-size: 13px;
	}
	.box-newssupport .item-inline a {
		font-size: 13px;
	}
	.top-footer .info-contact {
		width: 35%;
		margin-right: 20px;
	}
	.top-footer .menu-footer {
		width: 40%;
	}
	.top-footer .human {
		width: 20%;
	}
	.top-footer .human {
		width: 30%;
	}
	.top-footer .info-contact {
		margin-right: 50px;
	}
}
@media screen and (max-width:1040px) {
	#header {
		position: fixed;
		z-index: 999;
		left: 0;
		right: 0;
		top: 0;
		background-color: #fafafa;
	}
	.pc {
		display:none;
	}
	#menu-main {
		display: none;
		padding: 35px 15px 15px;
		background-color: #ffca08;
		bottom:0;
		position: fixed;
		top: 99px;
		right: 0;
		z-index: 9;
		overflow: auto;
		width: 296px;
	}	
	#searchForm input {
		width: 240px;
		margin-bottom: 20px;
	}
	#menu-main ul {
		display: block;
		padding: 0;
		background-color:transparent;
		text-align:left;
	}
	#menu-main ul li {
		display: block;
		border-bottom: 1px solid #E3E4E8;
		padding: 10px 0;
		margin-bottom: 10px;
	}
	.toggle-menu {
		position: fixed;
		top: 46px;
		right: 30px;
		margin-top: -14px;
		z-index: 999;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
	}
	.bar1, .bar2, .bar3 {
		width: 30px;
		height: 3px;
		background-color: #ffca08;
		box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
		margin: 6px 0;
		transition: 0.4s;
	}
	.toggle-menu.change {
		position: fixed;
		margin-top: 0;
		z-index: 999;
		top: 33px;
	}
	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-5px, 4px);
		transform: rotate(-45deg) translate(-7px, 4px);
	}
	.change .bar2 {
		opacity: 0;
	}
	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-9px, -7px);
		transform: rotate(45deg) translate(-9px, -7px);
	}
	.box-left {
		width: 100%;
		float: none;
		padding-right: 0;
		margin-bottom: 20px;
	}
	.box-left .article-list ul li a b {
		display:block;
	}
	.box-left .article-list ul li img {
		width:100%;
	}
	.box-register .human {
		width: 20%;
	}
	.box-left .article-feature img {
		width:100%;
	}
	.box-right {
		width: 100%;
		float: none;
	}
	.admissions-list {
		letter-spacing: -0.3em;
	}
	.admissions-list li {
		width: 33%;
		display: inline-block;
		letter-spacing: 0;
		margin-right: 0.5%;
	}
	.admissions-list li:nth-child(3n) {
		margin-right: 0;
	}
	.box-media .item-inline {
		width: 49%;
		margin-right: 2%;
		margin-bottom: 30px;
	}	
	.box-media .item-inline:nth-child(2n) {
		margin-right: 0;
	}
	.box-media .item-inline a img {
		width:100%;
	}
	.box-media .it-place br {
		display:none;		
	}
	.box-media .it-place {
		font-size: 14px;		
	}	
	.top-footer .info-contact {
		width: 37%;
		margin-right:20px;
	}
	.top-footer .menu-footer {
		width: 41%;
	}
	.top-footer .human {
		width: 20%;
	}
	.the-header {
		height:94px;
	}
}
@media screen and (max-width:991px) {
	.header-right {
		float: none;
		padding: 0;
	}
	.box-left .article-feature {
		width: 60%;
	}
	.box-left .article-list {
		width: 40%;
	}
	.admissions-list li {
		width: 49%;
		margin-right: 2%;
	}
	.admissions-list li:nth-child(2n) {
		margin-right: 0;
	}	
	.admissions-list li:nth-child(3) {
		margin-right: 2%;
	}
	.box-newssupport .item-inline {
		width: 33.33%;
		margin-bottom: 20px;
	}
	.box-register .human {
		width: 18%;
	}
	.box-register p span {
		font-size: 26px;
	}
	.top-footer .info-contact {
		width: 100%;
		margin-right: 0;
		margin-bottom:20px;
	}
	.top-footer .menu-footer {
		width: 78%;
	}
	.top-footer .human {
		width: 30%;
	}
}
@media screen and (max-width:767px) {
	.title-media::after,.title-media::before {
		bottom: 11px;
		width: 30%;
	}	
	.title-media {
		margin-bottom: 26px;
	}
	.copy-right {
		font-size: 12px;
	}
}
@media screen and (max-width:640px) {
	.box-left .article-feature {
		width: 100%;
		padding-right: 0;
		margin-bottom: 20px;
	}
	.box-left .article-list {
		width: 100%;
	}	
	.admissions-list li {
		width: 100%;
		margin-right: 0;
	}
	.box-newssupport .item-inline {
		width: 50%;
	}
	.box-register p {
		font-size: 22px;
	}
	.box-register .human {
		width: 20%;
		right: 0;
	}	
	.box-register .btn {
		font-size: 16px;
		width: 200px;
	}
	.news-list-sidebar li a {
		font-size: 12px;
	}
	.title-media::after, .title-media::before {
		width: 20%;
	}
	.box-media .item-inline {
		width: 100%;
		margin-right: 0;
	}
	.top-footer .menu-footer {
		width: 100%;
	}
	.footer-bottom .container {
		flex-direction: column;
	}
	.copy-right {
		margin-bottom: 10px;
	}
	.header-right .banner-image {
		width: 50px;
	}
}
@media screen and (max-width:510px) {
	.the-header {
		height: 74px;
	}
	#menu-main {
		top: 79px;
	}
	#header .logo {
		display: block;
		padding-right: 58px;
	}
	.toggle-menu {
		top: 34px;
		right: 15px;
	}
	.toggle-menu.change {
		top: 18px;
	}
}
@media screen and (max-width:479px) {
	.cate-title {
		font-size: 13px;
	}
	.box-register p {
		font-size: 18px;
	}
	.box-register p span {
		font-size: 23px;
	}
	.top-footer .list-contact li {
		font-size: 13px;		
		margin-bottom: 10px;
	}
	.top-footer .menu-footer {
		column-count: 1;
		-ms-column-count: 1;
		-webkit-column-count: 1;
	}
	.top-footer .human {
		width: 50%;
	}
	.admissions-list li a {
		font-size: 11px;
		padding: 18px 22px 18px 58px;
	}
	.header-right .banner-image {
		display:none;
	}
}
@media screen and (max-width:359px) {
	.box-left .article-feature .info h3 a {
		font-size: 13px;
	}
	.description {
		font-size: 13px;
	}
	.title-media::after, .title-media::before {
		width: 14%;
	}
	.box-media .it-place {
		font-size: 13px;
	}
}