@charset UTF-8;body{font-family:'Lucida Grande',verdana,arial,helvetica,sans-serif;font-size:12px;text-align:center;background-color:#f3f5f4}
body a{text-decoration:none}
.header{margin:0 auto;min-height:10px;overflow:hidden;padding:5px;width:98%;margin-bottom:5px}
.personal{font-size:11px;color:#1d0303}
.personal a{border-radius:3px 3px 3px 3px;color:#1d0303;padding:3px 5px;font-weight:bold;text-decoration:none;font-size:11px}
.personal a:hover{background-color:#FFF;color:#000}
.space_10{height:10px;clear:both}
.container{background-color:#FAFAFA;border-radius:5px 5px 5px 5px;box-shadow:0 0 3px #333333;margin:0 auto;min-height:100px;overflow:hidden;padding-bottom:10px;width:98%;margin-bottom:10px}
.wrapper_adminmenu{width:100%;height:30px;background-color:#15708d;padding-top:2px;padding-bottom:1px;border-bottom:1px solid #1f82a2;overflow:hidden;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;background:-moz-linear-gradient(100% 100% 90deg,#15708d,#025875);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#025875),to(#15708d));background:-webkit-linear-gradient(#025875,#15708d);background:-o-linear-gradient(#025875,#15708d)}
.wrapper_adminmenu a{color:#FFFFFF;font-weight:bold;text-decoration:none;text-shadow:-1px 1px #111111;cursor:pointer}
.wrapper_adminmenu .menuitem-home{border-right:1px solid #0E89B3;float:left;font-size:12px;height:17px;padding:7px 10px 6px}
.wrapper_adminmenu .menuitem{border-left:1px solid #00435A;border-right:1px solid #0E89B3;float:left;font-size:12px;height:17px;padding:7px 10px 6px}
.wrapper_adminmenu .menuitem:hover{background-color:#017ba4;background:-moz-linear-gradient(100% 100% 90deg,#50accb,#017ba4);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#017ba4),to(#50accb));background:-webkit-linear-gradient(#017ba4,#50accb);background:-o-linear-gradient(#017ba4,#50accb)}
.wrapper_submenu{background:-moz-linear-gradient(100% 100% 90deg,#1589B0,#0C6988) repeat scroll 0 0 transparent;border-top:1px solid #075C78;min-height:70px;padding-bottom:5px;padding-top:3px;width:100%;background:-webkit-linear-gradient(#0C6988,#1589B0);background:-o-linear-gradient(#0C6988,#1589B0);background-color:#1589b0}
.wrapper_submenu .wrapper_item{float:left;height:70px;padding-left:4px;width:80px}
.wrapper_submenu .wrapper_item .item{width:80px;height:70px;color:#fff;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;background-color:#168ab0;background:-moz-linear-gradient(100% 100% 90deg,#3b91ae,#168ab0);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#168ab0),to(#3b91ae));background:-webkit-linear-gradient(#168ab0,#3b91ae);background:-o-linear-gradient(#168ab0,#3b91ae);cursor:pointer; position:relative;}
.bage {    
	display: inline-block;
    min-width: 10px;
    padding: 5px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #c00;
    border-radius: 10px;
	position:absolute;
	top:-8px; right:-3px;
	display:none;
}
.wrapper_submenu .wrapper_item .item:hover{background:-moz-linear-gradient(100% 100% 90deg,#6EB7CF,#3497B8) repeat scroll 0 0 transparent;background:-webkit-linear-gradient(#3497B8,#6EB7CF);background:-o-linear-gradient(#3497B8,#6EB7CF);border-color:#137090;border-radius:8px 8px 8px 8px;border-style:solid;border-width:1px;height:70px;width:80px}
.wrapper_submenu .wrapper_item .item .text{color:#FFFFFF;font-size:11px;height:20px;text-align:center;width:80px}
.wrapper_submenu .wrapper_item .item .image{height:50px;margin:0 auto;width:50px}
.breakcrumb{background:-moz-linear-gradient(100% 100% 90deg,#F0F0F0,#F8F8F8) repeat scroll 0 0 transparent;border-bottom:1px solid #DDDDDD;border-top:1px solid #DDDDDD;color:#006699;font-size:18px;height:30px;margin:0 auto;overflow:hidden;padding-bottom:3px;padding-top:1px;text-indent:10px;width:100%;text-align:left}
.content .button{background:-moz-linear-gradient(100% 100% 90deg,#F0F0F0,#F8F8F8) repeat scroll 0 0 transparent;border:1px solid #CCCCCC;border-radius:5px 5px 5px 5px;box-shadow:1px 1px 1px #CCCCCC;color:#006699;cursor:pointer;float:left;font-size:12px;font-weight:bold;margin-right:7px;min-width:20px;padding:5px 7px 5px 5px;text-align:center;text-decoration:none}
.content .button img{margin-bottom:-4px}
.clear{clear:both}
.spa select{background-color:#FFF}
#des_tbl td,.des_parent th,#cont_tbl td{padding:0;margin:0}
.breabcrums{text-align:left;padding-left:10px;background-image:linear-gradient(bottom,rgb(255,255,255) 15%,rgb(245,237,245) 63%,rgb(232,227,232) 82%);background-image:-o-linear-gradient(bottom,rgb(255,255,255) 15%,rgb(245,237,245) 63%,rgb(232,227,232) 82%);background-image:-moz-linear-gradient(bottom,rgb(255,255,255) 15%,rgb(245,237,245) 63%,rgb(232,227,232) 82%);background-image:-webkit-linear-gradient(bottom,rgb(255,255,255) 15%,rgb(245,237,245) 63%,rgb(232,227,232) 82%);background-image:-ms-linear-gradient(bottom,rgb(255,255,255) 15%,rgb(245,237,245) 63%,rgb(232,227,232) 82%);background-image:-webkit-gradient(
		linear,left bottom,left top,color-stop(0.15,rgb(255,255,255)),color-stop(0.63,rgb(245,237,245)),color-stop(0.82,rgb(232,227,232))
	);margin-bottom:10px}
.breabcrums a{font-weight:bold;color:#063}
.breabcrums a:hover{color:#00F}
.page a{border:solid 1px #054c64;padding:1px;padding-left:2px;padding-right:2px;color:#054c64}
.page span{border:solid 1px #054c64;padding:1px;padding-left:2px;padding-right:2px;color:#054c64;margin-right:5px}
.page .current,.page a:hover{background-color:#046a8c;color:#FFF!important;font-weight:bold}
.backlink a{font-size:16px;color:#03F}
.backlink img{margin-bottom:-10px;width:35px}
.backlink a:hover{text-decoration:underline;color:#0CF}
.backlink{text-align:left;padding-left:400px}
.massage{background-color:#FFE9E9;border-bottom:1px solid #DD0000;border-top:1px solid #DD0000;color:#FF0000;margin:5px auto auto;padding:3px 0 3px 10px;text-align:left;width:90%;margin-bottom:10px}
.button img{border:none}
#description,#khuyenmai{width:100%;height:150px}
.div_them{padding-bottom:5px;margin-bottom:5px;position:relative}
.arekeyword,.aredescription{width:450px;height:100px}
.content table.view{width:99%;border-collapse:collapse;margin:0 auto;font-size:11px}
.even{background-color:#f3f3f3}
.hover{background-color:#ffffd8}
.content table.view tr{height:29px}
.content table.view tr:nth-child(2n+1){background-color:#f3f3f3}
.content table.view tr:hover{background-color:#fcf1f2}
.content table.view th{height:35px;border:1px solid #ddd;border-collapse:collapse;color:#333;text-shadow:1px 1px #f8f8f8;text-align:center;background:-moz-linear-gradient(100% 100% 90deg,#ddd,#eee);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#f5f5f5),to(#e0e0e0));background:-webkit-linear-gradient(#f5f5f5,#e0e0e0);background:-o-linear-gradient(#f5f5f5,#e0e0e0);background-color:#F3F3F3}
.content table.view td{border:1px solid #ddd;border-collapse:collapse;padding:3px}
.content table.view td img{border:none}
table.view a{color:#333;text-decoration:none}
table.view a:hover{color:#f00;text-decoration:underline}
table.view input[type=text]{background-color:#FFF}
.title_td{background-color:#F0F0F0;border-bottom:1px solid #DDDDDD;color:#333333;height:18px;margin:0;padding:5px;padding-right:10px!important;text-align:right;padding-left:10px!important;font-size:11px}
h2{font-family:"Times New Roman",Times,serif;font-size:20px;font-weight:bold;color:#0c6988}
.list_button{width:99%;overflow:hidden;margin:15px;margin-left:5px;margin-bottom:5px}
.list_button  .l_bt{width:60%;overflow:hidden;float:left}
.list_button  .r_bt{width:30%;overflow:hidden;float:right;text-align:right;padding-right:5px}
..list_button select{margin:0}
.content .button{font-weight:bold;min-width:20px;float:left;padding:5px 7px 5px 5px;font-size:12px;border:1px solid #ccc;cursor:pointer;text-decoration:none;text-align:center;color:#069;margin-right:7px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:1px 1px 1px #ccc;-webkit-box-shadow:1px 1px 1px #ccc;box-shadow:1px 1px 1px #ccc;background:-moz-linear-gradient(100% 100% 90deg,#f0f0f0,#f8f8f8);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#f8f8f8),to(#f0f0f0));background:-webkit-linear-gradient(#f8f8f8,#f0f0f0);background:-o-linear-gradient(#f8f8f8,#f0f0f0)}
.button_submit{font-size:12px;margin-right:7px;font-weight:bold;height:30px;padding:0 7px 3px 7px;border:1px solid #ccc;cursor:pointer;text-decoration:none;text-align:center;color:#069;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:1px 1px 1px #ccc;-webkit-box-shadow:1px 1px 1px #ccc;box-shadow:1px 1px 1px #ccc;background:-moz-linear-gradient(100% 100% 90deg,#f0f0f0,#f8f8f8);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#f8f8f8),to(#f0f0f0));background:-webkit-linear-gradient(#f8f8f8,#f0f0f0);background:-o-linear-gradient(#f8f8f8,#f0f0f0)}
.button_cancel{font-size:12px;float:left;font-weight:bold;margin-right:7px;height:18px;padding:7px 7px 3px 7px;border:1px solid #ccc;cursor:pointer;text-decoration:none;text-align:center;color:#069;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:1px 1px 1px #ccc;-webkit-box-shadow:1px 1px 1px #ccc;box-shadow:1px 1px 1px #ccc;background:-moz-linear-gradient(100% 100% 90deg,#f0f0f0,#f8f8f8);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#f8f8f8),to(#f0f0f0));background:-webkit-linear-gradient(#f8f8f8,#f0f0f0);background:-o-linear-gradient(#f8f8f8,#f0f0f0)}
.content a.actives,.button:hover,.button_submit:hover,.button_cancel:hover{border:1px solid #fbb;color:#f00;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:1px 1px 1px #fc9999;-webkit-box-shadow:1px 1px 1px #fc9999;box-shadow:1px 1px 1px #fc9999;background:-moz-linear-gradient(100% 100% 90deg,#ffeaea,#fff0f0);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#f5f5f5),to(#fafafa));background:-webkit-linear-gradient(#f5f5f5,#fafafa);background:-o-linear-gradient(#f5f5f5,#fafafa)}
select{border-collapse:collapse;border:1px solid #ccc;padding:3px 3px 3px 3px;background-color:#f8f8f8;color:#333;margin:0;font-size:12px}
.content-i{width:98%;margin:0 auto;padding-top:10px;overflow:hidden;font-size:12px;margin-bottom:10px}
.content-i .view2 td{padding-top:5px;padding-bottom:5px;padding-left:5px}
input[type=text],input[type=password],textarea{border-collapse:collapse;border:1px solid #ccc;color:#333;padding:3px 3px 5px 3px;margin:0;font-size:12px;background-color:#FFF}
input[type=text]:focus,input[type=password]:focus,textarea:focus{background:-moz-linear-gradient(100% 100% 90deg,#fefdf1,#fffcd9);background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fffcd9),to(#fefdf1));background:-webkit-linear-gradient(#fffcd9,#fefdf1);background:-o-linear-gradient(#fffcd9,#fefdf1)}
.emptydata{background:none repeat scroll 0 0 #EFF0B9;color:red;height:40px;text-align:center}
.content .content_i{font-size:12px;margin:0 auto;overflow:hidden;padding-top:10px;width:98%;text-align:left}
.right_new td{padding:5px}
.content .content_i  select{width:200px;background-color:#FFF}
.right_new{margin-left:10px}
.wrapper_image{width:50px;height:50px;float:left;padding:2px}
.wrapper_image .icon{border:1px solid #fff;cursor:pointer}
.wrapper_image .icon:hover{background-color:#8ff;border:1px solid #ccf;cursor:pointer}
.hightlight{background-color:#8ff;border:1px solid #ccf}
.error{background-color:#FFE9E9;border-bottom:1px solid #DD0000;border-top:1px solid #DD0000;color:#FF0000;margin:auto;padding:3px 0 3px 10px;width:90%;text-align:left;font-size:11px;margin-bottom:5px}
.input-error{color:#FF0000;margin:auto;padding:5px 0 5px 20px;text-align:left;font-size:11px;margin-bottom:5px;display:block;background-size:15px;text-align:left;background-image:url(../images/warning.jpg);background-repeat:no-repeat;background-position:left}
.frm-paging{clear:both;padding:10px 0  5px 5px;text-align:center;overflow:hidden}
.frm-paging  a{font:14px/22px sans-serif;display:inline-block;padding:0 8px;margin-right:0;border-radius:3px;border:solid 1px #c0c0c0;background:#e9e9e9;box-shadow:inset 0 1px 0 rgba(255,255,255,.8),0px 1px 3px rgba(0,0,0,.1);font-size:11px;font-weight:bold;text-decoration:none;color:#717171;text-shadow:0 1px 0 rgba(255,255,255,1);margin:0 3px}
.frm-paging a:hover{background:#fefefe;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#FEFEFE),to(#f0f0f0));background:-moz-linear-gradient(0% 0% 270deg,#FEFEFE,#f0f0f0)}
.frm-paging strong,.frm-paging span{font:14px/22px sans-serif;display:inline-block;padding:0 8px;margin-right:0;border-radius:3px;border:solid 1px #c0c0c0;background:#e9e9e9;box-shadow:inset 0 1px 0 rgba(255,255,255,.8),0px 1px 3px rgba(0,0,0,.1);font-size:11px;font-weight:bold;text-decoration:none;color:#717171;text-shadow:0 1px 0 rgba(255,255,255,1);border:none;background:#26AAD5;box-shadow:inset 0 0 8px rgba(0,0,0,.5),0px 1px 0 rgba(255,255,255,.8);color:#f0f0f0;text-shadow:0 0 3px rgba(0,0,0,.5);display:inline-block}
.frm-paging span{float:left}
.frm-paging span.total b{font-size:13px}
.wbsite{margin-top:20px}
.infou{width:50%;float:left}
.infou .caption{padding:15px 20px;border:none;-webkit-box-shadow:0 2px 1px rgba(0,0,0,0.08);-moz-box-shadow:0 2px 1px rgba(0,0,0,0.08);box-shadow:0 2px 1px rgba(0,0,0,0.08);margin-bottom:0;border-color:#ddd;background-color:#FFF;float:left;text-align:center;text-transform:uppercase;font-size:13px;margin-top:0;margin-left:15px;width:40%}
.infou .caption b{display:block;font-size:20px;line-height:40px;color:#15708d}
.viewcomment{overflow-x:hidden;overflow-y:auto; width:60%; float:left; box-sizing:border-box; padding:10px 20px}
.formsent{ width:40%; float:left; box-sizing:border-box; padding:10px 20px; }
.formsent h2{background-color:#181818;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px;font-size:14px;padding:5px 10px;color:#FFF;font-family:Arial,Helvetica,sans-serif;margin:0;font-weight:normal}
.formsent  textarea{width:100%; box-sizing:border-box; border-radius:5px; padding:10px;}
.formsent  button{clear:both;background:#000;border:none;color:#FFF;font-weight:bold;float:right;padding:5px 20px;cursor:pointer}
.formsent  button:hover{background-color:#333}
.viewcomment .itemcm{padding:0 10px;overflow:hidden;width:510px;background-color:#eee;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:1.5em}
.viewcomment .itemcm:nth-child(2n+1){background-color:#FFF}
.viewcomment .itemcm b{text-transform:uppercase;font-style:normal}
.itemcm i { float:right;}
.viewcomment .itemcm  a{background-color:#333;padding:1px 5px;margin-bottom:5px;float:right;color:#FFF;display:block}
.viewcomment .itemcm  a:hover{background-color:#000}
.viewcomment .avatar{font-style:italic;color:#333}
.head{text-align:left;padding:10px;font-family:Arial,Helvetica,sans-serif;font-size:14px;text-transform:uppercase;color:#0c6988}
.head a{display:inline-block;color:#0c6988;margin:0 10px;line-height:20px;font-weight:bold;-webkit-animation-name:bounce;-moz-animation-name:bounce;-o-animation-name:bounce;animation-name:bounce;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;-webkit-animation-iteration-count:7;-moz-animation-iteration-count:7;-o-animation-iteration-count:7;-ms-animation-iteration-count:7;white-space:nowrap}
.head a.tyview,.head a:hover{color:#0c6988;text-decoration:underline;-webkit-animation-name:fadeInDown;-moz-animation-name:fadeInDown;-o-animation-name:fadeInDown;animation-name:fadeInDown;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1.1s;-moz-animation-duration:1.1s;-ms-animation-duration:1.1s;-o-animation-duration:1.1s;animation-duration:1.1s;-webkit-animation-iteration-count:7;-moz-animation-iteration-count:7;-o-animation-iteration-count:7;-ms-animation-iteration-count:7}
.conttab{display:none;text-align:left;border:solid 1px #0c6988;padding:10px;margin:0 10px;background-color:#e0f0f5}
.conttab  p{display:inline-block;text-align:left;margin-left:5px;margin-right:5px}
.box-general{width:40%;float:left}
.box-general h3,.box-general p{margin:4.3px}
.text_txt{text-align:left;padding:5px}
.box_link_list{max-width:400px;overflow:hidden;height:15px}
.body-mail{background-color:#fff;border:solid 1px #eee;padding:20px}
.content .content_i select.select-lpg { width:400px; height:200px;}
.left-tag { width:250px; height:80px;}
.coxdemo { display:block; margin:0 auto; height:15px; width:15px;}
div.cont-filter-attr {
  padding:15px 10px;
  background-color:#D1E9F1;
  border-radius:5px;
}  
.cont-filter-attr ul {
    overflow: hidden;
    position: relative;
    height: auto;
    padding-bottom: 5px;
}
.cont-filter-attr ul,.cont-filter-attr ul li {
    margin: 0;
    padding: 0;
	list-style:none;
}
div.cont-filter-attr ul li {
    width: auto;
    float: left;
	margin:0 5px 5px 0;
	text-align:center;
}
div.cont-filter-attr ul li label {
    display: block;
    float: left;
    position: relative;
    min-width: 25px;
    height: 25px;
    float: left;
    box-sizing: border-box;

}
div.cont-filter-attr ul li label input {
      position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    opacity: 0;
    cursor: pointer;
}
div.cont-filter-attr label span.checkbox{
     border: solid 2px #ccc;
    width: 100%;
    height: 100%;
    display: block;
    padding: 2px;
	box-sizing:border-box;
	line-height:1.5em;
}
div.cont-filter-attr label span span {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.cont-filter-attr ul li label input[type='checkbox']:checked + span.checkbox {
    border-color:#f00 ;
}
.main-button-delete-cache { position:fixed; bottom:0px; right:0px;/*background-color:rgba(0, 0, 0, 0.5);*/ padding:0px 5px;-webkit-border-top-left-radius: 10px;
-moz-border-radius-topleft: 10px;
border-top-left-radius: 10px;}
.main-button-delete-cache .id-short-cache { color:#03F; cursor:pointer;}
.main-button-delete-cache .id-short-cache:hover { color:#FF0;}
.main-button-delete-cache .id-short-cache span {     color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
	padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 4px;
	margin-bottom:5px;
	display:block;
}
.ibox { display:block; width:20px; height:20px;}
h3.title { text-transform:uppercase; font-size:14px;border-bottom: solid 1px #ccc; padding-bottom:5px;}
.alert{padding:15px;margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem}
.alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebcccc}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 7pt;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
	 text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.label-danger {
    background-color: #F05050;
    color: #FAE6E6;
}
.label-success {
    background-color: #5cb85c;
}
.label-primary {
    background-color: #337ab7;
}
.label-default {
    background-color: #777;
}
.label-info {
    background-color: #5bc0de;
}
.label-warning {
    background-color: #f0ad4e;
}