
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#dcf0f8" style="margin:0;padding:0;background-color:#f2f2f2;width:100%!important;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
  <tbody>
    <tr>
      <td align="center" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal"></td>
    </tr>
    <tr style="background:#fff">
      <td align="left" width="600" height="auto" style="padding:15px"><table>
          <tbody>
            <tr>
              <td><h1 style="font-size:17px;font-weight:bold;color:#444;padding:0 0 5px 0;margin:0"> Cảm ơn
                  quý khách {FULLNAME}
                  đã đặt hàng tại Mada.vn,</h1>
                <p style="margin:4px 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal"> Mada.vn rất vui thông báo đơn hàng {CODE} của quý khách đã
                  được tiếp nhận và đang trong quá trình xử lý. Mada sẽ thông báo đến quý khách
                  ngay khi hàng chuẩn bị được giao. </p>
                <h3 style="font-size:13px;font-weight:bold;color:#02acea;text-transform:uppercase;margin:20px 0 0 0;border-bottom:1px solid #ddd"> Thông tin đơn hàng {CODE} <span style="font-size:12px;color:#777;text-transform:none;font-weight:normal">( {DATE} )</span> </h3></td>
            </tr>
            <tr>
              <td style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px"><table cellspacing="0" cellpadding="0" border="0" width="100%">
                  <thead>
                    <tr>
                      <th align="left" width="50%" style="padding:6px 9px 0px 9px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;font-weight:bold"> Thông tin thanh toán </th>
                      <th align="left" width="50%" style="padding:6px 9px 0px 9px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;font-weight:bold"> Địa chỉ giao hàng </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td valign="top" style="padding:3px 9px 9px 9px;border-top:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal"><span style="text-transform:capitalize">{FULLNAME}</span><br>
                        <a href="{EMAIL}" target="_blank">{EMAIL}</a><br>
                        {PHONE} </td>
                      <td valign="top" style="padding:3px 9px 9px 9px;border-top:0;border-left:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal"><span style="text-transform:capitalize"> {FULLNAME}</span><br>
                        <a href="mailto:{EMAIL}" target="_blank">{EMAIL}</a><br>
                        Giao hàng trong giờ hành chính, <br />
                        Số điện thoại: {PHONE} <br />
                        {DIACHI}, Việt Nam<br></td>
                    </tr>
                    <tr>
                      <td valign="top" style="padding:7px 9px 0px 9px;border-top:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444" colspan="2"><p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal"> <strong>Phương thức thanh toán: </strong> {PTTHANHTOAN}<br>
                          <strong>Phí vận chuyển: </strong> {SHIP} <br>
                        </p></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td><p style="margin:4px 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal"><i>Lưu ý: Với những đơn hàng thanh toán trả trước, xin vui lòng đảm bảo người nhận hàng đúng thông tin đã đăng ký trong đơn hàng, và chuẩn bị giấy tờ tùy thân để đơn vị giao nhận có thể xác thực thông tin khi giao hàng.</i></p></td>
            </tr>
            <tr>
              <td><h2 style="text-align:left;margin:10px 0;border-bottom:1px solid #ddd;padding-bottom:5px;font-size:13px;color:#02acea"> CHI TIẾT ĐƠN HÀNG</h2>
                <table cellspacing="0" cellpadding="0" border="0" width="100%" style="background:#f5f5f5">
                  <thead>
                    <tr>
                      <th align="left" bgcolor="#02acea" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Sản phẩm</th>
                      <th align="left" bgcolor="#02acea" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px"> Đơn giá</th>
                      <th align="left" bgcolor="#02acea" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Số lượng</th>
                      <th align="right" bgcolor="#02acea" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Tổng tạm</th>
                    </tr>
                  </thead>
                  <tbody bgcolor="#eee" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
                  </tbody>
                  <tfoot style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
                  
                  {SANPHAM}
                  <tr>
                    <td colspan="3" align="right" style="padding:5px 9px">Tổng giá trị sản phẩm chưa giảm: </td>
                    <td align="right" style="padding:5px 9px"><span>{TONGTIEN} &nbsp;₫</span></td>
                  </tr>
                  <tr>
                    <td colspan="3" align="right" style="padding:5px 9px">Chi phí vận chuyển</td>
                    <td align="right" style="padding:5px 9px"><span>{SHIP} &nbsp;₫</span></td>
                  </tr>
                  <tr bgcolor="#eee">
                    <td colspan="3" align="right" style="padding:7px 9px"><strong><big>Tổng giá trị đơn hàng</big></strong></td>
                    <td align="right" style="padding:7px 9px"><strong><big><span>{TONGTHANHTOAN} &nbsp;₫</span></big></strong></td>
                  </tr>
                    </tfoot>
                  
                </table>
                <div style="margin:auto"> <a href="http://mada.vn" style="display:inline-block;text-decoration:none;background-color:#00b7f1!important;margin-right:30px;text-align:center;border-radius:3px;color:#fff;padding:5px 10px;font-size:12px;font-weight:bold;margin-left:35%;margin-top:5px" target="_blank" >Chi tiết đơn hàng tại Mada.vn</a></div></td>
            </tr>
            <tr>
              <td><br>
                <p style="margin:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal"> Trường hợp quý khách có những băn khoăn về đơn hàng, có thể xem thêm mục <a href="http://mada.vn/bai-viet/Chinh-sach-van-chuyen.html" title="Các câu hỏi thường gặp" target="_blank" ><strong>các câu hỏi thường gặp</strong>.</a> </p>
                <p style="margin:10px 0 0 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal"> Bạn cần được hỗ trợ ngay? Chỉ cần email <a href="mailto:cskh@mada.vn" style="color:#099202;text-decoration:none" target="_blank"><strong>cskh@mada.vn</strong></a>,
                  hoặc gọi số điện thoại <strong style="color:#099202">{HOTLINE}</strong> </p></td>
            </tr>
            <tr>
              <td><br>
                <p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;margin:0;padding:0;line-height:18px;color:#444;font-weight:bold"> Một lần nữa Mada.vn cảm ơn quý khách.<br>
                </p>
                <p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal;text-align:right"> <strong><a style="color:#00a3dd;text-decoration:none;font-size:14px" href="http://mada.vn">Mada.vn</a></strong><br>
                </p></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>
</td>
</tr>
<tr>
  <td align="center"><table width="600">
      <tbody>
        <tr>
          <td><p style="font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:18px;color:#4b8da5;padding:10px 0;margin:0px;font-weight:normal" align="left"> Quý khách nhận được email này vì đã mua hàng tại Mada.vn.<br>
              Để chắc chắn luôn nhận được email thông báo, xác nhận mua hàng từ Mada.vn, quý khách vui
              lòng thêm địa chỉ <strong><a href="mailto:cskh@mada.vn" target="_blank">cskh@mada.vn</a></strong> vào số địa chỉ (Address Book, Contacts) của
              hộp email. <br>
              <b>Văn phòng Mada.vn:</b> 376 Võ Văn Tần, phường 5, quận 3, thành phố Hồ Chí Minh, Việt Nam </p></td>
        </tr>
      </tbody>
    </table></td>
</tr>
</tbody>
</table>
