



body {
    background-color: #fff;
    padding-top: 0;
}
header {
    border-bottom: 2px solid #0063cb;
    padding: 1% 0;
}
.row {
    margin: 0;
}
.footer {
    background-color: #1f76d3;
    color: #fff;
    padding: 1% 0;
}
.footer a {
    color: #fff;
}
.footer .box-footer-2 {
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
}
.textinput {
    margin-bottom: 2%;
}
.block {
    margin: 3% 0;
}
.blockContent {
    padding: 0;
    margin-top: 5px;
}
.blockContent .content {
    padding-bottom: 4%;
}
.blockContent label {
    margin-bottom: 0;
}

.syllView .label {
    background-color: #edeef0;
    border: 1px solid #d2d3d6;
    border-radius: 1px;
    color: #333;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    padding: 7px 5px;
    text-align: center;
}
.syllView .titleChid {
    margin-bottom: 2%;
}
.syllViewEdit {
    padding: 5%;
}
.syllView .titlesyll {
    color: red;
    font-size: 28px;
    font-weight: bold;
    padding: 3% 0 0;
    text-transform: uppercase;
}
.syllView .header-form {
    margin: 0 0 4%;
}
.blockBanner {
    margin: 0;
    text-align: center;
    width: 100%;
}
.blockTitle {
    margin: 0;
    text-align: center;
    width: 100%;
}
.blockBanner img, .blockTitle img {
    display: inline;
}
.content {
    margin: 0 auto;
    width: 1000px;
}
.nopadding {
    padding: 0;
}
.logan {
    color: #fe0001;
    font-size: 20px;
    padding: 5% 0 0;
}

.loginnhaphoc .lable {
    color: #000;
    font-size: 120%;
    text-transform: uppercase;
}
.note {
    font-style: italic;
    margin: 2% 0 0;
}
.loginnhaphoc input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border-color: currentcolor currentcolor #000;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    margin: 0 0 5%;
    padding: 5px 0;
}
.form-control::-moz-placeholder {
    color: #575757;
    font-style: italic;
}
.blockLogin .title {
    color: red;
    font-size: 180%;
    font-weight: bold;
    margin: 0 0 3%;
}
.icon_fb_small {
    background: #fff url("http://hutech.edu.vn/images/icon-hutech.jpg") no-repeat scroll left -112px;
    border-radius: 3px;
    height: 16px;
    width: 16px;
}
.icon_yt_small {
    background: #fff url("http://hutech.edu.vn/images/icon-hutech.jpg") no-repeat scroll -22px -112px;
    border-radius: 3px;
    height: 16px;
    width: 16px;
}
.icon_gg_small {
    background: #fff url("http://hutech.edu.vn/images/icon-hutech.jpg") no-repeat scroll -43px -112px;
    border-radius: 3px;
    height: 16px;
    width: 16px;
}
.validate-inputgroup > .input-group-addon::after {
    color: red;
    content: " (*)";
}
.lable::after {
    content: ":";
}
.text-danger {
    color: red;
}
.text-primary:hover, .text-warning:hover, .text-danger:hover, .text-success:hover, .text-info:hover {
    color: red;
}
.blockCenter {
    display: table;
    margin: 0 auto;
        margin-top: 5px;
}
.w-70 {
    width: 70px;
}
.w-110 {
    width: 110px;
}
@media (max-width: 1000px) {
  
    
  
    
.content {
    width: 100% !important;
}
}
@media (max-width: 775px) {
   .syllView{padding-top:10px !important;}
    .col-sm-6{padding:0px 0px;}
    .col-sm-2{padding:0px 0px;}
    .padingtext{padding: 0 10px;}
        #imgLogo{height: 70px;}
        #slogan{display: none;}
    .watingid{
        position:fixed;top:50%;left:43%;z-index:999;
    }
    
    
.container {
    padding: 0 10px;
}
.login {
    padding: 0 !important;
}
#logo {
    text-align: center;
    width: 100%;
}
#logo2 {
    display: none;
}
.footer {
    margin: 3% 0 0;
    padding: 10px 0;
}
.footer .box-footer-2 {
    border-left: 0 none;
    border-right: 0 none;
}
.box-footer-3 {
    display: none;
    text-align: left;
}
.blockLogin {
    background: #f7f622 none no-repeat scroll center 0 / 100% auto;
    padding: 10% 0 20%;
}
}


@media (max-width:450px){
   #imgLogo{height: 50px;}
}

@media (min-width:769px){
    .watingid{
        position:fixed;top:50%;left:48%;z-index:999;
    }
      .syllView {
    border: 1px solid #c9c9c9;
    display: inline-block;
    padding: 4% 5% 3%;
        width: 100%;}
    #imgLogo{height: 100%;}
    #slogan{display: block;}
}


.textinput .input-group .input-group-addon,.textinput .input-group .form-control{border-radius: 0 !important;}
.input-group-addon-custom {border:1px solid #ccc !important; height: 34px;}
.textinput .input-group-addon-title{background-color: #ffab00 !important;color: #fff !important;}


.landing-content{}
.landing-header{margin-bottom: 50px;}
.landing-footer{position: fixed;bottom: 0; z-index: 99999;width: 100%;}


@media (max-width: 775px) {
.landing-header{margin-bottom: 0;}
.landing-footer{position:relative;}
.hidden-mobile{display: none;}
.col-sm-offset-6-custom {
    margin-left: 50%;
  }
.col-sm-6-custom {
   width: 50%; float:left;padding: 0;
  }
.textinput{margin-bottom: 0;}
.textinput .input-group-custom{margin-bottom: 15px !important;}
.thongbao{margin-left: 0;margin-top: 25px;}
}

.textinput .input-group{margin-bottom: 15px;}
.textinput .input-group-custom{margin-bottom: 0;}

.thongbao{margin-left: 20%;margin-top: 25px;}
.thongbao ul li{height: 30px;}
.thongbao a{text-decoration:none;}
